@import url(http://fonts.googleapis.com/css?family=Abril+Fatface);

@font-face {
    font-family: Goudy;
    src: url(goudy/goudy_bookletter_1911-webfont.woff);
}

input {
    padding: 0px 10px;
    line-height: 33px;
    font-family: 'Goudy', sans-serif;
    font-size: medium;
    vertical-align: middle;
}

body {
    color: #111;
    background-color:#FAFAFA;
    font-family: 'Goudy', sans-serif;
}


.title {
    font-family: 'Abril Fatface', cursive;
    font-size:250%;
    margin-left :5%;
    margin-right:5%;
    line-height:160%;
    text-decoration: none;
}

.title a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.container {
    margin-left :5%;
    margin-right:5%;
}
 
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
 
li {
  font: 200 20px/1.5 Goudy, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
}
 
li:last-child {
  border: none;
}