@import url(https://fonts.googleapis.com/css?family=Abril+Fatface);

@font-face {
    font-family: Goudy;
    src: url(goudy/goudy_bookletter_1911-webfont.woff);
}

input {
    padding: 0px 10px;
    line-height: 33px;
    font-family: 'Goudy', sans-serif;
    font-size: medium;
    vertical-align: middle;
    margin-bottom:10px;
}

#compute_path {
    color:red;
    margin-bottom:10px;
}

.container {
    margin-left :5%;
    margin-right:5%;

}

body {
    color: #202020;
    background-color:#FAFAFA;
    font-family: 'Goudy', sans-serif;
}

.content
{
    padding-bottom:60px;   /* Height of the footer */
}   

.footer {
   width:100%;
   height:40px;   /* Height of the footer */
   color: #777;
}
.footer a {
    text-decoration: none;
    color:inherit;
}


.header {
    font-family: 'Abril Fatface', cursive;
    font-size:250%;
    line-height:160%;
}

.header a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
  display: inline;
}

#starlink {
    font-size:100%;
    line-height:100%;
    display: inline-block;
}


ul {
    
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: #444;
  font: 200 20px/1.5 Goudy, Verdana, sans-serif;
}
 
li {
    border-bottom: 1px solid #ccc;
}
 
li:last-child {
  border: none;
}
