<!DOCTYPE html>
<html>
  <head>

    <link rel="shortcut icon"
          href="{{ url_for('static', filename='trans_flavico.png') }}">
    
    <title>transorthogonal-linguistics</title>
    <link rel=stylesheet type=text/css
          href="{{url_for('static', filename='viewer.css')}}">

    <link rel=stylesheet type=text/css
          href="{{url_for('static', filename='buttons.css')}}">

    <link rel=stylesheet type=text/css
          href="{{url_for('static', filename='messages.css')}}">

    <link rel="stylesheet" 
          href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    
  </head>
  <body>

    {% from "_formhelpers.html" import render_field %}

    <div class="container">

      
      <div class="header">
        <a href="https://github.com/thoppe/transorthogonal-linguistics">
          transorthogonal linguistics<a id="starlink"
               style="color:{{starcolor}}"
               href="/{{starlink}}">*</a>
        </a>
      </div>
     

      <div class="content">

        <form method=post class="pure-form">
          
          {{ render_field(form.word1,placeholder="boy",
                          autofocus=true, autocapitalize="none",
                          onfocus="this.focus();this.select()") }}
          {{ render_field(form.word2,placeholder="man",
                          autocapitalize="none")}}

          <button class="pure-button button-active"
                  onclick="compute_path()" id="compute_path">
            <i class="fa fa-connectdevelop"></i>
			      {{buttontext}}
          </button>

          
        </form>

        {# <h2>{{word1}}    {{word2}}</h2> #}

        <ul>
          {% for item in result_list %}
          <li>{{item|safe}}</li>
          {% endfor %}
        </ul>

      </div>

      <div class="footer">
        <a href="http://thoppe.github.io/">project by travis hoppe</a>
      </div>

      
      
    </div>

    
  </body>
</html>
